<ion-header>
  <ion-toolbar>
    <ion-title>
      Song Book!
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
      <ion-searchbar showCancelButton="focus" animated></ion-searchbar>
    <ion-list *ngFor="let song of book">

      <ion-card>
        <ion-card-header>
          <ion-card-title>{{song.title}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          {{song.prem}}
        </ion-card-content>
      </ion-card>

    </ion-list>

  </div>
</ion-content>